<div class="col-md-12">
    <div class="panel panel-success">
        <div class="panel-heading">
            <h3 class="panel-title">Submission</h3>
        </div>
        <div class="panel-body">
            <p>Thanks for your submission. The response from the server is as follows:</p>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Key</th>
                        <th>Value</th>
                    </tr>
                </thead>
                <tbody>
                    {{!TODO Step 4. Populate the TBody with the information in the entries object (from step 2).}}
                </tbody>
            </table>
        </div>
    </div>
</div>